h3 {
    color: #000;
}

h1, h2 {
    color: #fff;
}

p {
    color: #000
}

.title{
    border-bottom: 2px solid #fff;
}

.card-header {
    transition: all 0.1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-image: url('../../assets/img/thor.jpg'); /* caminho para sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    p {
      font-size: 12px;
      font-weight: bold;
      color: var(--white);
    }

}

.card {
    border: 2px solid #000;
}