<div class="title mb-3">
    <h1 *ngIf='test'>
        {{test}} a
    </h1>
</div>
<div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            <p>Nome</p>
                        </div>
                        <div class="col">
                            <p>Ákio</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <p>Quadrinhos</p>
                        </div>
                        <div class="col">
                            <p>Presente professor, Whákseus roses</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <p>função</p>
                        </div>
                        <div class="col">
                            <p>Japones</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col">
                            <p>Nome</p>
                        </div>
                        <div class="col">
                            <p>Ákio</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <p>Quadrinhos</p>
                        </div>
                        <div class="col">
                            <p>Presente professor, Whákseus roses</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <p>função</p>
                        </div>
                        <div class="col">
                            <p>Deus do sexo</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>