:root {
    --primary: 90, 180, 88;
    --secondary: 22, 24, 44;
    --tertiary: 133, 150, 158;
    --danger: 196, 46, 46;
    --success: 46, 158, 124;
    --warning: 228, 121, 0;
    --light: #e4e4e4;
    --white: #ffffff;
    --blue: #419dff;
    --background: #f5f5f5;
    --greyish-blue: #85969e;
    --gray: #ebebeb;
    --border: #f2f2f2;
    --red: #ff0000;
    --primary-solid: rgba(var(--primary), 1);
    --secondary-solid: rgba(var(--secondary), 1);
    --tertiary-solid: rgba(var(--tertiary), 1);
    --danger-solid: rgba(var(--danger), 1);
    --success-solid: rgba(var(--success), 1);
    --warning-solid: rgba(var(--warning), 1);
    --primary-opacity: rgba(var(--primary), 0.2);
    --secondary-opacity: rgba(var(--secondary), 0.2);
    --tertiary-opacity: rgba(var(--tertiary), 0.2);
    --success-opacity: rgba(var(--success), 0.2);
    --warning-opacity: rgba(var(--warning), 0.2);
    --danger-opacity: rgba(var(--danger), 0.2);
  }
  